pydub
PyMuPDF
python-multipart
accelerate
nltk
pillow
sentencepiece
diffusers
arabic_reshaper
python-bidi
cycler
decorator
editdistance
imageio
joblib
kiwisolver
networkx
numpy
opencv-python
Pillow
pyparsing
python-dateutil
PyWavelets
scikit-image
scikit-learn
scipy
six
threadpoolctl
tifffile
tqdm
easyocr
soundfile
gtts
phonemizer
python-espeak
sentencepiece
datasets[audio]
tqdm
accelerate
arabert
torch
torchaudio
transformers
pathos
uvicorn
fastapi
pytesseract
unittest2
pyngrok
nest_asyncio
pydub